    <!-- footer -->
<footer role="contentinfo" class="site-footer" id="colophon" ng-controller="footerCtrl">
	<div class="container">
		<div class="row">
			<div id="accordion" class="collapse-footer">
				<div class="panel">
					<div class="panel-heading">
						<h4 class="panel-title"> 

							Mapa del Sitio
							
						</h4>
					</div>


					<div class="panel-collapse" class="nav-collapse" uib-collapse="isCollapsed">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6 col-sm-3">
									<h5 class="title"><span>Heurísticas de Nielsen</span></h5>
									<div class="menu-main-menu-container">
										<ul class="nav nav-footer" id="menu-main-menu-1">

											<li><a class="footerLink" ui-sref="heuristics">Introducción</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 1})">H1: Visibilidad del Estado del Sistema</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 2})">H2: Correspondencia entre el Sistema y el Mundo Real</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 3})">H3: Control y Libertad para el Usuario</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 4})">H4: Consistencia y Estándares</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 5})">H5: Prevención de Errores</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 6})">H6: Reconocer antes que Recordar</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 7})">H7: Flexibilidad y Eficiencia de Uso</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 8})">H8: Estética de Diálogos y Diseño Minimalista</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 9})">H9: Ayuda a los Usuarios en el Reconocimiento, Diagnóstico y Recuperación de Errores</a></li>
											<li><a class="footerLink" ui-sref="heuristics_show({id: 10})">H10: Ayuda y Documentación</a></li>
											<li><a class="footerLink" href="/heuristic_evaluation">Evaluación Heurística</a></li>

										</ul>
									</div>
								</div>
								<div class="col-xs-6 col-sm-3">
									<h5 class="title"><span>Evaluación</span></h5>
									<div class="menu-footer-sitemap-container">
										<ul class="nav nav-footer" id="menu-footer-sitemap">
											<li><a class="footerLink" href="/begin/1">Evaluación 1: Introducción a las Heurísticas de Nielsen</a></li>
											<li><a class="footerLink" href="/begin/2">Evaluación 2: Aplicación de las Heurísticas de Nielsen</a></li>
										</ul>
									</div>
								</div>



								<div class="col-xs-6 col-sm-3">
									<h5 class="title"><span>Módulo de Práctica</span></h5>
									<div class="menu-footer-sitemap-container">
										<ul class="nav nav-footer" id="menu-footer-sitemap">
											<li><a class="footerLink" href="/practices/1">Práctica 1: Login</a></li>
											<li><a class="footerLink" href="/practices/2">Práctica 2: Depósito</a></li>
											<li><a class="footerLink" href="/practices/3">Práctica 3: Retiro</a></li>
											<li><a class="footerLink" href="/practices/4">Práctica 4: Transferencia</a></li>
										</ul>
									</div>
								</div>



								<div class="col-xs-6 col-sm-3">
									<h5 class="title"><span>Recursos</span></h5>
									<div class="menu-footer-sitemap-container">
										<ul class="nav nav-footer" id="menu-footer-sitemap">
											<li><a class="footerLink" href="/references">Heurísticas de Nielsen</a></li>
											<li><a class="footerLink" href="/references">Evaluación Heurística</a></li>
											<li><a class="footerLink" href="/references">Otros</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row copyright-img">
				<div class="col-lg-4 col-sm-4"> WebForge</div>
				<div class="col-lg-8 col-sm-8 text-right" id="footertext">2015 por Javier Cáceres</div>
			</div>
		</div>
	</div>
	<!-- /Copyright -->
</footer>


