<div class="row">
      
    </div>
  </div>
  <div class="container">
	<div class="grid">
	    
<div class="greetings-container">
<div class="row">
	<div class="col-md-6">
			<h1>
	                		Heurísticas de Nielsen
	                </h1>

	                <p>
	                	Una aproximación a la Usabilidad Web o ¿Cómo sobrevivir en la Red?
	                </p>

	               
	                <a class="button-banner-cover" ui-sref="introduction">Empieza aquí!</a>
			

	</div>

	<div class="col-md-6">
	<div>	
				<img alt="Usability" src="images/button_push-256.png" />
			</div>

	</div>


	                

            </div>
	    </div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<a ui-sref="heuristics">				
				<img alt="Heurísticas" class="icon-anchor" src="images/heuristics.png" />
</a>			<div class="section-title">
				<a class="text-anchor" ui-sref="heuristics">Heurísticas</a>
			</div>
			<p>Conoce las diez guías generales para el diseño de interfaces definidas por el gurú de la usabilidad Jacob Nielsen.</p>
		</div>
		
		<div class="col-xs-3">
			<a href="/evaluations">
				<img alt="Evaluación" class="icon-anchor" src="images/evaluation.png" />
</a>			<div class="section-title">
				<a class="text-anchor" ui-sref="evaluations">Evaluación</a>
			</div>
			<p>Mide tus conocimientos a través de breves evaluaciones, entérate de tus debilidades y supera tu propia marca.</p>
		</div>

		<div class="col-xs-3">
			<a href="/practices">
				<img alt="Práctica" class="icon-anchor" src="images/practice.png" />
</a>			<div class="section-title">
				<a class="text-anchor" href="/practices">Práctica</a>
			</div>
			<p>Aplica la teoría en la reparación de una interfaz dañada trabajando directamente con las tecnologías de front-end a través de Codepen.</p>
		</div>

		<div class="col-xs-3">
			<a href="/references">
				<img alt="Recursos" class="icon-anchor" src="images/resources.png" />
</a>			<div class="section-title">
				<a class="text-anchor" href="/references">Recursos</a>
			</div>
			<p>Navega y aprende a través de la colección de referencias externas reunidas en este recurso de aprendizaje.</p>
		</div>
	</div>	