<div class="container">
	<ol class="breadcrumb ms">
	  	<li><a href="/">Inicio</a></li>
	  	<li class="active">Introducción</li>
	</ol>

	<div>
		<h1 class="topic-title">Introducción</h1>
		
		<p>Para sobrevivir en la Web un sitio o aplicación requiere de una interfaz de usuario fácil de usar. Un indicador útil acerca de cómo los usuarios perciben un sitio es la Tasa o Porcentaje de Rebote, Google en su servicio Analytics lo define como “El porcentaje de sesiones [..] en las que el usuario ha abandonado su sitio en la página de entrada sin interactuar con ella”, entre los factores que propician esto se menciona la dificultad de uso.</p>
		
		<p>Tomemos como ejemplo el E-commerce: Su porcentaje de rebote promedio durante el pasado año fue de un 35%, es decir, afectaba a uno de cada tres usuarios; considerando que en el comercio electrónico cada transacción vale  $300 USD, este porcentaje representa una pérdida importante. </p>

		<img alt="bounce rate" src="images/bounce.png" />
		
		<p>En la Web abundan ejemplos como el anterior, afortunadamente también lo hacen los estándares. Estos pueden ser los mejores consejeros al momento de diseñar o reparar una interfaz, su adopción ofrece a los futuros usuarios un escenario familiar en que las cosas suceden como lo esperan en base a su experiencia de uso.</p>

		<p>Ahora bien, si te estás preguntando ¿por dónde comenzar? ¿qué estándares utilizar? ¡estás en el lugar correcto!</p>
	</div>

	<div class="next-box" style="width:100%">
		<a id="next" ui-sref="heuristics">
			<span class="glyphicon glyphicon-circle-arrow-right page-nav-btn" aria-hidden="true"></span>
</a>	</div>

	<div>
		<h2 class="ms-h2">Recursos relacionados</h2>
		<ul>
			<li><a target="_blank" href="https://support.google.com/analytics/answer/1009409?hl=es">Definición del Porcentaje de Rebote en Google Analytics (ESP, WEB)</a></li>
			<li><a target="_blank" href="http://www.wolfgangdigital.com/blog/digital-marketing/wolfgang-e-commerce-kpi-study-2014/">Estudio acerca de la Tasa de Rebote en E-commerce y valor por transacción (ENG, WEB)</a></li>
		</ul>
	</div>
</div>